body{
    background: url(../images/bg.png) repeat;
}

code{
    background-color: white;
    border: 1px black solid;
    padding: 5px 5px;
    display: block;
}

h1 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
    -webkit-text-shadow: 1px 1px #fff, 2px 2px #2a2829;
    text-shadow: 1px 1px white,-1px -1px white, 2px 2px #2A2829;
    background: url(../images/logo.png) no-repeat 15px 5px ;
    height: 100px;
    width: 200px;
    line-height: 100px;
    margin: 0 0;
    display: inline-block;
}

h1 a{
    text-decoration: none;
    color: #000000;
    display: block;
    width: 100%;
    height: 100%;
}
h1 a:hover{
    text-decoration: none;
    color: darkmagenta;
}

h2{
    display: inline-block;
    width: 300px;
    height: 100px;
    line-height: 100px;
    margin: 0 0;
    padding: 0 0;
}

p.state.player_0{
    color: blue;
}
p.state.player_1{
    color: red;
}
p.state.player_2{
    color: green;
}

.board,.invite{
    background:  linear-gradient(transparent, darkgray);
    border: 3px outset;
    padding: 10px 10px;
    text-align: center;
    min-width: 780px;
}

.board.player_0{
    background: linear-gradient(transparent, lightblue);
}
.board.player_1{
    background: linear-gradient(transparent, lightcoral);;
}
.board.player_2{
    background: linear-gradient(transparent, lightgreen);;
}

.board .row{
    margin: 0 auto;
    padding: 0 21px 0 0;
    border: none;
    display: inline-block;
}

.board .row:nth-child(even){
    padding: 0 0 0 23px;
}

.board .row *{
    border:3px solid transparent;
    -webkit-border-radius: 100%;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 40px;
    margin: 0 0;
    padding: 0 0;
    vertical-align: middle;
    text-decoration: none;
}


.board .field{
    border:3px solid black;
    width: 40px;
    height: 40px;
    background-color: lightgrey;
    box-shadow: inset black 2px 2px 5px,inset white -2px -2px 5px;
    text-shadow: -1px -1px 2px #000000,1px 1px 2px #FFFFFF;
}

.board .field.player{
    box-shadow: inset black -2px -2px 5px,inset white 2px 2px 5px;
}

.board .field.player_0{
    background-color: blue;
}
.board .field.player_1{
    background-color: red;
}
.board .field.player_2{
    background-color: green;
}

.board .field.selected{
    border-color: white;
}

.board .field.split{
    border-color: yellow;
}

.board .field.jump{
    border-color: orange;
}

.board a:hover{
     border-style: dotted;
    box-shadow: inset black 2px 2px 5px,inset white -2px -2px 5px,white 0px 0px 15px;
 }
.board a.player:hover{
    border-style: dotted;
    box-shadow: inset black -2px -2px 5px,inset white 2px 2px 5px,white 0px 0px 15px;
}
.score span{
    width: 15%;
}
.score .bar_frame{
    background-color: darkgray;
    border: inset 2px;
    height: 20px;
    font-weight: bold;
}

.score .bar{
    display: inline-block;
    text-align: center;
    color: #ffffff;
    background-color: darkgray;
    height: 20px;
    overflow: hidden;
    box-shadow: inset black -1px -1px 3px,inset white 1px 1px 3px;
    text-shadow: -1px -1px 1px #000000,1px 1px 1px #FFFFFF;
}
.score .bar.player_0{
    background-color: blue;
}
.score .bar.player_1{
    background-color: red;
}
.score .bar.player_2{
    background-color: green;
}

.state{
    display: block;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 100px;
    text-align: right;
    padding-right: 30px;
}

.board_list a{
    background:  linear-gradient(transparent, darkgray);
    display: inline-block;
    width: 400px;
    height: 400px;
    text-align: center;
    border: 2px outset;
    color: #000000;
    text-decoration: none;
}

.board_list a span{
    display: block;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 30px;
    position: relative;
    top: -55%;
    font-weight: bold;
    line-height: 30px;
    opacity: 0.9;
}

.board_list a img{
    width: 100%;
    height: 100%;
    border: none;
}

.board_list a:hover{
    background:  linear-gradient(transparent, violet);
    color: #ffffff;
}

.board_list a:hover span{
    color: #ffffff;
    background-color: darkmagenta;
}