@(game:models.Game,user:Int)
@main(game.isTimer(user)) {
@if(user<0){
<h2>@Messages("board.observer")</h2>
}else{
<h2>@Messages("board.player",user+1)</h2>
}
@if(game.isOver()){
@if(game.getWinnerPlayer()<0){
    <p class="state"><strong>@Messages("board.end.tie")</strong></p>
}else{
    <p class="state player_@game.getWinnerPlayer()"><strong>@Messages("board.end.winner",game.getWinnerPlayer()+1)</strong></p>
}
}else{
<p class="state player_@game.getPlays()">
    @if(game.isOnTurn(user)){
    <em>@Messages("board.game.onturn")</em>
    }else{
    <strong>@Messages("board.game.waiting",game.getPlays()+1)</strong>
    }
</p>
}
<a href="@routes.Application.help">@Messages("help")</a>
<form class="board player_@user" id="board_form" action="@routes.Application.click(game.id)" method="post">
    <input type="hidden" name="x" value="-1" id="x">
    <input type="hidden" name="y" value="-1" id="y">
    @for((board_row,index) <-  game.getBoard().zipWithIndex) {
    <div class="row">
        @Html({
        def fill(to:Int):String={
            if(to>0){
                fill(to-1).concat("<div> </div> ")
            }else{
                ""
            }
        }
        fill(index/2)
        })
        @for((field,indey) <- board_row.zipWithIndex) {
            @if(field==null) {
                <div></div>
            }else{
                <@{
                    if(game.isOnTurn(user)){
                        "a href=javascript:click("+index+","+indey+")"
                    }else{
                        "div"
                    }
                }
                        class="field @{
                        val p=field.getPlayer()
                        val class_p=if(p>=0){
                            "player player_".concat(p.toString)
                        }else{
                            ""
                        }
                        class_p.concat(" ").concat({
                            if(game.isOnTurn(user)){
                            field.getMark match{
                                case 0=>""
                                case 1=>"selected"
                                case 2=>"split"
                                case 3=>"jump"
                            }
                            }else{
                                ""
                            }
                        })
                    }">
                    @{
                        val p=field.getPlayer()
                        if(p>=0){
                            p+1
                        }else{
                            ""
                        }
                    }
                </@{
                    if(game.isOnTurn(user)){
                        "a"
                    }else{
                        "div"
                    }
                }>
            }
        }
        @Html({
            def fill(to:Int):String={
                if(to>0){
                    fill(to-1).concat("<div> </div> ")
                }else{
                    ""
                }
            }
            fill((game.getBoard().length-index)/2)
        })
    </div>
    }
</form>
<div class="score"><span>@Messages("board.score"): </span><div class="bar_frame"><div class="bar player_0" style="width: @{(100*game.getScore(0))/game.getScore(-2)}%">1=@game.getScore(0)</div><div class="bar player_1" style="width: @{(100*game.getScore(1))/game.getScore()}%">2=@game.getScore(1)</div><div class="bar" style="width: @{(100*game.getScore(-1))/game.getScore()}%">?=@game.getScore(-1)</div></div></div>
}
