@(game: models.Game,user:String)

@main(true) {
    <h2>@Messages("invite.h")</h2>
<div class="invite">
    <p><strong>@Messages("invite.waiting")</strong></p>
    <p class="state"><em>@Messages("invite.connected",game.countPlayers(),game.getPlayersMax())</em></p>
    <p>@Messages("invite.p")</p>
    <h3>@Messages("invite.invite.h")</h3>
    <p>@Messages("invite.invite.p")</p>
    <code>http://hexxagon.skorpils.cz/game/@game.id</code>
    <h3>@Messages("invite.local.h")</h3>
    <p>@Messages("invite.local.p")</p>
    <a href="@routes.Application.addLocalPlayer(game.id)">@Messages("invite.local.a")</a>
    <h3>@Messages("invite.ai.h")</h3>
    <p>@Messages("invite.ai.p")</p>
    <a href="@routes.Application.addAIPlayer(game.id)">@Messages("invite.ai.a")</a>
</div>
}
